openapi: 3.0.3
info:
  title: IAC Skills Course GPT API
  version: 1.0.2
  description: Read and update exam-prep tools for the Accounting Study Advice IAC Skills Course GPT Action.
servers:
  - url: https://iac.accountingstudyadvice.com
paths:
  /api/knowledge-base/search:
    get:
      operationId: searchKnowledgeBase
      summary: Search the coaching knowledge base
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Matching knowledge-base rows
        "400":
          description: Missing query or search error
  /api/mark-configurations:
    parameters:
      - name: paper_name
        in: query
        required: false
        schema:
          type: string
        description: Paper name to fetch or update. Required for PATCH.
    get:
      operationId: getMarkConfigurations
      summary: Fetch mark configurations by paper name
      responses:
        "200":
          description: Matching mark configuration rows
        "400":
          description: Query error
    patch:
      operationId: updateMarkConfiguration
      summary: Update config_json for a paper. Pass paper_name as a query parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - config_json
              properties:
                config_json:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated mark configuration
        "400":
          description: Missing paper_name or update error
  /api/coaching-insights:
    post:
      operationId: addCoachingInsight
      summary: Insert a new coaching insight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide at least one of coaching_rule, title, tool_code, or diagnostic_routine.
              properties:
                active:
                  type: boolean
                  default: true
                category:
                  type: string
                title:
                  type: string
                tool_code:
                  type: string
                diagnostic_routine:
                  type: string
                diagnostic_outcome:
                  type: string
                sub_sub_code:
                  type: string
                coaching_rule:
                  type: string
                mindset_ref:
                  type: string
                vimeo_video_id:
                  type: string
                course_ids:
                  type: array
                  items:
                    type: string
                saica_competency_mappings:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Created coaching insight
          content:
            application/json:
              schema:
                type: object
                properties:
                  insight:
                    type: object
                    additionalProperties: true
        "400":
          description: Missing insight fields
        "500":
          description: Insert failed
  /api/course-content/chapters:
    get:
      operationId: listCourseStructure
      summary: List the course structure in chapter then lesson order
      description: Read-only curriculum map. Returns chapters and lesson metadata only. No student data, lesson body, or Storage files.
      responses:
        "200":
          description: Ordered chapters with nested lessons
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        summary:
                          type: string
                        position:
                          type: integer
                        lessons:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              chapter_id:
                                type: string
                              position:
                                type: integer
                              type:
                                type: string
                              title:
                                type: string
                              duration:
                                type: string
                                nullable: true
                              seconds:
                                type: integer
                                nullable: true
                              blurb:
                                type: string
                                nullable: true
                              due:
                                type: string
                                nullable: true
                              video_duration_seconds:
                                type: integer
                                nullable: true
                              estimated_read_minutes:
                                type: integer
                                nullable: true
                              duration_minutes:
                                type: integer
                                nullable: true
                              requires_submission:
                                type: boolean
                              requires_coach_approval:
                                type: boolean
                              prereq_lesson_id:
                                type: string
                                nullable: true
        "400":
          description: Could not load chapters or lessons
