openapi: 3.1.1
info:
  title: IAC Skills Course GPT API
  version: 1.0.7
  description: Read and update exam-prep tools for the Accounting Study Advice IAC Skills Course GPT Action.
servers:
  - url: https://iac.accountingstudyadvice.com
paths:
  /api/knowledge-base/search:
    get:
      operationId: searchKnowledgeBase
      summary: Search the coaching knowledge base
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Matching knowledge-base rows
        "400":
          description: Missing query or search error
  /api/mark-configurations:
    get:
      operationId: getMarkConfigurations
      summary: Fetch mark configurations by paper name
      parameters:
        - name: paper_name
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Matching mark configuration rows
        "400":
          description: Query error
    patch:
      operationId: updateMarkConfiguration
      summary: Update config_json for a paper
      parameters:
        - name: paper_name
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - config_json
              properties:
                config_json:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated mark configuration
        "400":
          description: Missing paper_name or update error
  /api/coaching-insights:
    post:
      operationId: addCoachingInsight
      summary: Insert a new coaching insight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide at least one of coaching_rule, title, tool_code, or diagnostic_routine.
              properties:
                active:
                  type: boolean
                  default: true
                category:
                  type: string
                title:
                  type: string
                tool_code:
                  type: string
                diagnostic_routine:
                  type: string
                diagnostic_outcome:
                  type: string
                sub_sub_code:
                  type: string
                coaching_rule:
                  type: string
                mindset_ref:
                  type: string
                vimeo_video_id:
                  type: string
                course_ids:
                  type: array
                  items:
                    type: string
                saica_competency_mappings:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Created coaching insight
          content:
            application/json:
              schema:
                type: object
                properties:
                  insight:
                    type: object
                    additionalProperties: true
        "400":
          description: Missing insight fields
        "500":
          description: Insert failed
  /api/course-content/chapters:
    get:
      operationId: listCourseStructure
      summary: List the course structure in chapter then lesson order
      description: Read-only curriculum map. Returns chapters and lesson metadata only. No student data, lesson body, or Storage files.
      responses:
        "200":
          description: Ordered chapters with nested lessons
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        summary:
                          type: string
                        position:
                          type: integer
                        lessons:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              chapter_id:
                                type: string
                              position:
                                type: integer
                              type:
                                type: string
                              title:
                                type: string
                              duration:
                                type: string
                                nullable: true
                              seconds:
                                type: integer
                                nullable: true
                              blurb:
                                type: string
                                nullable: true
                              due:
                                type: string
                                nullable: true
                              video_duration_seconds:
                                type: integer
                                nullable: true
                              estimated_read_minutes:
                                type: integer
                                nullable: true
                              duration_minutes:
                                type: integer
                                nullable: true
                              requires_submission:
                                type: boolean
                              requires_coach_approval:
                                type: boolean
                              prereq_lesson_id:
                                type: string
                                nullable: true
        "400":
          description: Could not load chapters or lessons
  /api/course-content/lessons/{lessonId}:
    get:
      operationId: getCourseLesson
      summary: Get teaching content for one lesson
      description: Read-only. Returns only approved lesson teaching fields. No videos, PDFs, Storage, surveys, gating, or student data.
      parameters:
        - name: lessonId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Lesson teaching content
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - chapter_id
                  - position
                  - type
                  - title
                  - blurb
                  - body
                  - takeaways
                properties:
                  id:
                    type: string
                  chapter_id:
                    type: string
                  position:
                    type: integer
                  type:
                    type: string
                  title:
                    type: string
                  blurb:
                    type: string
                    nullable: true
                  body:
                    type: string
                  takeaways:
                    type: array
                    items:
                      type: string
        "400":
          description: Invalid lesson id
        "404":
          description: Lesson not found
        "500":
          description: Could not load lesson
  /api/knowledge/sources:
    get:
      operationId: listKnowledgeSources
      summary: List approved knowledge sources
      description: Read-only. Discovers source types and live counts across the project. New documents, transcripts or research appear here without a new operation. Never returns credentials, student PII, or student Storage paths.
      responses:
        "200":
          description: Available knowledge sources
        "500":
          description: Could not list knowledge sources
  /api/knowledge/search:
    get:
      operationId: searchKnowledge
      summary: Search approved project knowledge
      description: Read-only federated search across lessons, Vimeo transcripts, research, past papers, methodology and project context. Use source_type to narrow. Do not invent a new operation for a new document type.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: source_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - course
              - lesson
              - video_transcript
              - worksheet
              - resource
              - research
              - past_paper
              - mark_plan
              - examiner_commentary
              - yvonne_feedback
              - coaching_transcript
              - methodology
              - project_canon
              - working_state
              - historical_evidence
        - name: chapter_id
          in: query
          required: false
          schema:
            type: string
        - name: lesson_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Matching knowledge references
        "400":
          description: Missing query
        "500":
          description: Could not search knowledge
  /api/knowledge/items/{id}:
    get:
      operationId: getKnowledgeItem
      summary: Retrieve one knowledge item
      description: Read-only. Fetch source material by stable id from search or journey. Internal ids use colons (lesson:ch15-l3); in this path replace each colon with a slash (lesson/ch15-l3). Large items are chunked with offset and limit.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Slash-separated knowledge id, for example lesson/ch15-l3, transcript/{uuid}, context/project_canon, past_paper/june-2026/{paperId}
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 200
            maximum: 20000
            default: 12000
      responses:
        "200":
          description: Knowledge item content
        "404":
          description: Knowledge item not found
        "500":
          description: Could not load knowledge item
  /api/knowledge/course-journey:
    get:
      operationId: getCourseJourney
      summary: Get the live student course journey
      description: Read-only. Live chapter and lesson sequence with previous/next, gating, all associated videos, transcript availability, and approved teaching resource URLs. Lesson count is live, not hard-coded.
      responses:
        "200":
          description: Course journey in student order
        "500":
          description: Could not load the course journey
  /api/knowledge/lessons/{lessonId}/full:
    get:
      operationId: getCourseLessonFull
      summary: Get one lesson with all associated teaching context
      description: Read-only. Returns lesson text, gating, previous/next, every associated video, imported transcript source text for those videos, and approved teaching resource metadata/URLs. Does not invent transcripts.
      parameters:
        - name: lessonId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full lesson teaching context
        "400":
          description: Invalid lesson id
        "404":
          description: Lesson not found
        "500":
          description: Could not load the lesson
  /api/mindset-sandbox/context:
    get:
      operationId: getMindsetSandboxContext
      summary: Get current Mindset Sandbox project context
      description: Read-only. Returns the current project_canon and working_state documents only. No student data, no generic table access, and no archived versions.
      responses:
        "200":
          description: Current Mindset Sandbox context
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - project_canon
                  - working_state
                properties:
                  project_canon:
                    $ref: "#/components/schemas/MindsetSandboxContextRecord"
                  working_state:
                    $ref: "#/components/schemas/MindsetSandboxContextRecord"
        "500":
          description: Could not load Mindset Sandbox context
  /api/mindset-sandbox/evaluator-evidence:
    get:
      operationId: getEvaluatorAttemptEvidence
      summary: Get stored evaluator evidence for one exam attempt
      description: Read-only. Accepts an attempt ID and returns the existing evaluator-evidence payload. Includes attempt/paper metadata, grouped BMCR, exam-script, and marking-report page images with page numbers, and official source references. Does not analyse or generate a report.
      parameters:
        - name: attempt_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Existing evaluator-evidence payload
        "400":
          description: Missing attempt ID
        "404":
          description: Exam attempt not found
        "500":
          description: Could not load evaluator evidence
  /api/mindset-sandbox/systems/model:
    get:
      operationId: getSystemsModel
      summary: Get the current systems model
      description: Read-only. Returns the current checkpoint, active records, lineage, guardrails and working state. Empty until a checkpoint exists. No student data, SQL, or source-document copies.
      responses:
        "200":
          description: Current systems model
        "503":
          description: Systems model tables are not installed
        "500":
          description: Could not load the systems model
  /api/mindset-sandbox/systems/evidence:
    get:
      operationId: getSystemsModelEvidence
      summary: Get systems-model evidence and provenance
      description: Read-only. Resolves gateway source IDs cited by a record, or by current observations/interpretations if record_id is omitted. Does not copy source archives.
      parameters:
        - name: record_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Record evidence with source references
        "503":
          description: Systems model tables are not installed
        "500":
          description: Could not load systems evidence
  /api/mindset-sandbox/systems/observations:
    post:
      operationId: addSystemsObservation
      summary: Record a source-backed observation
      description: Creates a source_observation. Requires at least one knowledge-gateway source_id such as lesson:ch3-l2, transcript:{id}, kb:{id}, or context:project_canon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - statement
                - source_refs
              properties:
                title:
                  type: string
                statement:
                  type: string
                rationale:
                  type: string
                source_refs:
                  type: array
                  items:
                    $ref: "#/components/schemas/SystemsSourceRef"
      responses:
        "201":
          description: Created observation
        "400":
          description: Missing fields or invalid source_id
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/interpretations:
    post:
      operationId: upsertSystemsInterpretation
      summary: Add or update a provisional systems interpretation
      description: Creates an interpretation, relationship, or alternative. Cite multiple gateway source types. Locked records create lineage instead of silent overwrite. Not parented to a lesson.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - statement
              properties:
                id:
                  type: string
                kind:
                  type: string
                  enum:
                    - interpretation
                    - relationship
                    - alternative
                title:
                  type: string
                statement:
                  type: string
                rationale:
                  type: string
                source_refs:
                  type: array
                  items:
                    $ref: "#/components/schemas/SystemsSourceRef"
                supports_record_ids:
                  type: array
                  items:
                    type: string
                challenges_record_ids:
                  type: array
                  items:
                    type: string
                related_record_ids:
                  type: array
                  items:
                    type: string
                needs_yvonne_review:
                  type: boolean
      responses:
        "200":
          description: Updated disposable draft
        "201":
          description: Created interpretation
        "400":
          description: Invalid interpretation
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/revisions:
    post:
      operationId: recordSystemsRevision
      summary: Record a systems-model revision
      description: Supersedes a prior record without deleting it, writes the revised understanding, and can append earlier sources to the revisit queue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - target_id
                - revised_understanding
                - systems_why
                - trigger
              properties:
                target_id:
                  type: string
                title:
                  type: string
                previous_understanding:
                  type: string
                revised_understanding:
                  type: string
                systems_why:
                  type: string
                trigger:
                  type: object
                  additionalProperties: false
                  required:
                    - note
                  properties:
                    note:
                      type: string
                    source_ids:
                      type: array
                      items:
                        type: string
                    record_ids:
                      type: array
                      items:
                        type: string
                revisit:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - reason
                    properties:
                      reason:
                        type: string
                      source_id:
                        type: string
                      record_id:
                        type: string
                unresolved_implications:
                  type: string
                needs_yvonne_review:
                  type: boolean
      responses:
        "201":
          description: Revision recorded
        "400":
          description: Invalid revision
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/yvonne-review:
    post:
      operationId: recordYvonneSystemsReview
      summary: Record a Yvonne confirmation or correction
      description: Creates a Yvonne successor and review event. The AI hypothesis remains stored as an AI hypothesis with lifecycle superseded.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - target_id
                - action
              properties:
                target_id:
                  type: string
                action:
                  type: string
                  enum:
                    - confirm
                    - correct
                statement:
                  type: string
                rationale:
                  type: string
                title:
                  type: string
      responses:
        "201":
          description: Yvonne review recorded
        "400":
          description: Invalid review
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/questions:
    post:
      operationId: upsertSystemsQuestion
      summary: Add or update an unresolved question
      description: Creates or updates an unresolved systems question. Competing explanations use upsertSystemsInterpretation with kind=alternative.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - statement
              properties:
                id:
                  type: string
                title:
                  type: string
                statement:
                  type: string
                related_record_ids:
                  type: array
                  items:
                    type: string
                source_refs:
                  type: array
                  items:
                    $ref: "#/components/schemas/SystemsSourceRef"
                resolved:
                  type: boolean
      responses:
        "201":
          description: Question saved
        "400":
          description: Invalid question
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/checkpoints:
    get:
      operationId: getCurrentSystemsCheckpoint
      summary: Get the current systems-model checkpoint
      description: Read-only. Returns the current integrated house snapshot, or null if none exists.
      responses:
        "200":
          description: Current checkpoint
        "503":
          description: Systems model tables are not installed
        "500":
          description: Could not load checkpoint
    post:
      operationId: createSystemsCheckpoint
      summary: Create a systems-model checkpoint
      description: Archives the previous current checkpoint and stores the new integrated understanding with provenance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - version
                - title
                - synthesis
              properties:
                version:
                  type: string
                title:
                  type: string
                synthesis:
                  type: string
                model:
                  type: object
                  additionalProperties: true
                supporting_record_ids:
                  type: array
                  items:
                    type: string
                challenging_record_ids:
                  type: array
                  items:
                    type: string
                open_question_ids:
                  type: array
                  items:
                    type: string
                informed_by_record_ids:
                  type: array
                  items:
                    type: string
                revision_id:
                  type: string
      responses:
        "201":
          description: Checkpoint created
        "400":
          description: Invalid checkpoint
        "503":
          description: Systems model tables are not installed
  /api/mindset-sandbox/systems/checkpoints/{id}:
    get:
      operationId: getSystemsCheckpoint
      summary: Get one systems-model checkpoint
      description: Read-only. Retrieve a specific checkpoint by id, including archived versions.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Checkpoint
        "404":
          description: Checkpoint not found
        "503":
          description: Systems model tables are not installed
        "500":
          description: Could not load checkpoint
  /api/mindset-sandbox/systems/working-state:
    get:
      operationId: getSystemsWorkingState
      summary: Get systems-model working research state
      description: Read-only. Returns traversal position, revisit queue, unresolved questions, alternatives, and working-state version history. Not last_lesson_id alone.
      responses:
        "200":
          description: Current working research state
        "503":
          description: Systems model tables are not installed
        "500":
          description: Could not load working state
    patch:
      operationId: updateSystemsWorkingState
      summary: Update systems-model working research state
      description: Merges into the current working state and archives the previous version. Lists append; they are not replaced.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                version:
                  type: string
                current_checkpoint_id:
                  type: string
                  nullable: true
                state:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated working state
        "400":
          description: Invalid working state
        "503":
          description: Systems model tables are not installed
components:
  schemas:
    MindsetSandboxContextRecord:
      type: object
      nullable: true
      additionalProperties: false
      required:
        - context_type
        - title
        - version
        - source_filename
        - updated_at
        - content
      properties:
        context_type:
          type: string
        title:
          type: string
        version:
          type: string
        source_filename:
          type: string
          nullable: true
        updated_at:
          type: string
        content:
          type: string
    SystemsSourceRef:
      type: object
      additionalProperties: false
      required:
        - source_id
      properties:
        source_id:
          type: string
          description: Knowledge-gateway ID, for example lesson:ch3-l2, transcript/{id} as transcript:uuid, kb:uuid, context:project_canon
        source_type:
          type: string
        location:
          type: string
        excerpt:
          type: string
