openapi: 3.1.1
info:
  title: IAC Skills Course GPT API
  version: 1.0.6
  description: Read and update exam-prep tools for the Accounting Study Advice IAC Skills Course GPT Action.
servers:
  - url: https://iac.accountingstudyadvice.com
paths:
  /api/knowledge-base/search:
    get:
      operationId: searchKnowledgeBase
      summary: Search the coaching knowledge base
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Matching knowledge-base rows
        "400":
          description: Missing query or search error
  /api/mark-configurations:
    get:
      operationId: getMarkConfigurations
      summary: Fetch mark configurations by paper name
      parameters:
        - name: paper_name
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Matching mark configuration rows
        "400":
          description: Query error
    patch:
      operationId: updateMarkConfiguration
      summary: Update config_json for a paper
      parameters:
        - name: paper_name
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - config_json
              properties:
                config_json:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated mark configuration
        "400":
          description: Missing paper_name or update error
  /api/coaching-insights:
    post:
      operationId: addCoachingInsight
      summary: Insert a new coaching insight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide at least one of coaching_rule, title, tool_code, or diagnostic_routine.
              properties:
                active:
                  type: boolean
                  default: true
                category:
                  type: string
                title:
                  type: string
                tool_code:
                  type: string
                diagnostic_routine:
                  type: string
                diagnostic_outcome:
                  type: string
                sub_sub_code:
                  type: string
                coaching_rule:
                  type: string
                mindset_ref:
                  type: string
                vimeo_video_id:
                  type: string
                course_ids:
                  type: array
                  items:
                    type: string
                saica_competency_mappings:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Created coaching insight
          content:
            application/json:
              schema:
                type: object
                properties:
                  insight:
                    type: object
                    additionalProperties: true
        "400":
          description: Missing insight fields
        "500":
          description: Insert failed
  /api/course-content/chapters:
    get:
      operationId: listCourseStructure
      summary: List the course structure in chapter then lesson order
      description: Read-only curriculum map. Returns chapters and lesson metadata only. No student data, lesson body, or Storage files.
      responses:
        "200":
          description: Ordered chapters with nested lessons
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        summary:
                          type: string
                        position:
                          type: integer
                        lessons:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              chapter_id:
                                type: string
                              position:
                                type: integer
                              type:
                                type: string
                              title:
                                type: string
                              duration:
                                type: string
                                nullable: true
                              seconds:
                                type: integer
                                nullable: true
                              blurb:
                                type: string
                                nullable: true
                              due:
                                type: string
                                nullable: true
                              video_duration_seconds:
                                type: integer
                                nullable: true
                              estimated_read_minutes:
                                type: integer
                                nullable: true
                              duration_minutes:
                                type: integer
                                nullable: true
                              requires_submission:
                                type: boolean
                              requires_coach_approval:
                                type: boolean
                              prereq_lesson_id:
                                type: string
                                nullable: true
        "400":
          description: Could not load chapters or lessons
  /api/course-content/lessons/{lessonId}:
    get:
      operationId: getCourseLesson
      summary: Get teaching content for one lesson
      description: Read-only. Returns only approved lesson teaching fields. No videos, PDFs, Storage, surveys, gating, or student data.
      parameters:
        - name: lessonId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Lesson teaching content
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - chapter_id
                  - position
                  - type
                  - title
                  - blurb
                  - body
                  - takeaways
                properties:
                  id:
                    type: string
                  chapter_id:
                    type: string
                  position:
                    type: integer
                  type:
                    type: string
                  title:
                    type: string
                  blurb:
                    type: string
                    nullable: true
                  body:
                    type: string
                  takeaways:
                    type: array
                    items:
                      type: string
        "400":
          description: Invalid lesson id
        "404":
          description: Lesson not found
        "500":
          description: Could not load lesson
  /api/knowledge/sources:
    get:
      operationId: listKnowledgeSources
      summary: List approved knowledge sources
      description: Read-only. Discovers source types and live counts across the project. New documents, transcripts or research appear here without a new operation. Never returns credentials, student PII, or student Storage paths.
      responses:
        "200":
          description: Available knowledge sources
        "500":
          description: Could not list knowledge sources
  /api/knowledge/search:
    get:
      operationId: searchKnowledge
      summary: Search approved project knowledge
      description: Read-only federated search across lessons, Vimeo transcripts, research, past papers, methodology and project context. Use source_type to narrow. Do not invent a new operation for a new document type.
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: source_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - course
              - lesson
              - video_transcript
              - worksheet
              - resource
              - research
              - past_paper
              - mark_plan
              - examiner_commentary
              - yvonne_feedback
              - coaching_transcript
              - methodology
              - project_canon
              - working_state
              - historical_evidence
        - name: chapter_id
          in: query
          required: false
          schema:
            type: string
        - name: lesson_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Matching knowledge references
        "400":
          description: Missing query
        "500":
          description: Could not search knowledge
  /api/knowledge/items/{id}:
    get:
      operationId: getKnowledgeItem
      summary: Retrieve one knowledge item
      description: Read-only. Fetch source material by stable id from search or journey. Internal ids use colons (lesson:ch15-l3); in this path replace each colon with a slash (lesson/ch15-l3). Large items are chunked with offset and limit.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Slash-separated knowledge id, for example lesson/ch15-l3, transcript/{uuid}, context/project_canon, past_paper/june-2026/{paperId}
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 200
            maximum: 20000
            default: 12000
      responses:
        "200":
          description: Knowledge item content
        "404":
          description: Knowledge item not found
        "500":
          description: Could not load knowledge item
  /api/knowledge/course-journey:
    get:
      operationId: getCourseJourney
      summary: Get the live student course journey
      description: Read-only. Live chapter and lesson sequence with previous/next, gating, all associated videos, transcript availability, and approved teaching resource URLs. Lesson count is live, not hard-coded.
      responses:
        "200":
          description: Course journey in student order
        "500":
          description: Could not load the course journey
  /api/knowledge/lessons/{lessonId}/full:
    get:
      operationId: getCourseLessonFull
      summary: Get one lesson with all associated teaching context
      description: Read-only. Returns lesson text, gating, previous/next, every associated video, imported transcript source text for those videos, and approved teaching resource metadata/URLs. Does not invent transcripts.
      parameters:
        - name: lessonId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full lesson teaching context
        "400":
          description: Invalid lesson id
        "404":
          description: Lesson not found
        "500":
          description: Could not load the lesson
  /api/mindset-sandbox/context:
    get:
      operationId: getMindsetSandboxContext
      summary: Get current Mindset Sandbox project context
      description: Read-only. Returns the current project_canon and working_state documents only. No student data, no generic table access, and no archived versions.
      responses:
        "200":
          description: Current Mindset Sandbox context
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - project_canon
                  - working_state
                properties:
                  project_canon:
                    $ref: "#/components/schemas/MindsetSandboxContextRecord"
                  working_state:
                    $ref: "#/components/schemas/MindsetSandboxContextRecord"
        "500":
          description: Could not load Mindset Sandbox context
components:
  schemas:
    MindsetSandboxContextRecord:
      type: object
      nullable: true
      additionalProperties: false
      required:
        - context_type
        - title
        - version
        - source_filename
        - updated_at
        - content
      properties:
        context_type:
          type: string
        title:
          type: string
        version:
          type: string
        source_filename:
          type: string
          nullable: true
        updated_at:
          type: string
        content:
          type: string
